* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #58378c;
    color: #fefefe;
}

h1 {
    margin: 10px;
    color: orangered;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 10px;
}

#nome-produto,
#valor-produto,
#descricao-produto {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 8px;
}

button {
    background-color: orangered;
    color: #fefefe;
    border-radius: 8px;
    padding: 8px;
    border: 0px;
    cursor: pointer;
}

button:active {
    background-color: rgb(191, 51, 0);
    transform: scale(0.9);
}

#feedback-usuario {
    margin: 10px;
    font-size: 0.8rem;
}

#produtos-cadastrados {
    margin-top: 20px;
}

.novoProduto {
    background-color: #6c3c90;
    width: 400px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

.novoProduto h3 {
    color: orangered;
    margin-bottom: 5px;
}

.novoProduto p {
    color: #fefefe;
    margin-top: 5px;
}